body {
    background-color:#f3dae1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1, h2 {
    text-align: center;
  }
  .sidebar {
    top: 60px;
    margin-top: -60px;
    padding:0;
    width: 200px;
    background-color: #E7B5C2;
    color: #CE6A85;
    position: absolute;
    height: 100%;
    overflow: auto;
  }
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    opacity: 80%;
  }
  /* Active/current link */
  .sidebar a.active {
    background-color: #CE6A85;
    color: white;
    opacity: 100%;
  }
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #D57D95;
    color: white;
    opacity: 100%;
  }
  div.content {
    margin-left: 200px;
    padding: 20px;
    text-align: center;
  }
  .named-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  p .tips {
    text-align: center;
  }

  button {
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
  }

  button:hover {
    background-color: #E7B5C2;
    cursor: pointer;
    border: 1px solid #CE6A85;
    color: white;
    text-decoration: double;
  }

  button {
    text-align: center;
  }

  p {
    line-height: 1.5;
  }

  #tips {
    text-align: center;
    font-size: 24px;
  }

  input {
    display: inline;
  }


  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  .footer {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #CE6A85;
  }

  .email {
    color: white;
    padding-bottom: 5px;
  }
  a{
     color: white;
  }

  img {
    max-width: 200px;
    margin-top: 400px;
  }
  .footer-text-left {
    font-size:15px;
    padding-left:20px;
    float:left;
    word-spacing:5px;
  }
  a.menu:hover {
    font-weight:bold;
  }
